.login--section {
    background: #fff 100%;
}

.login-text--big {
    width: 568px;
    height: 55px;
    left: 19px;
    font-weight: bold;
    font-size: 48px;
    font-family: "ITC Avant Garde Gothic Std Bold", sans-serif;
    text-align: center;
    color: #003319;
}

.login-text--small {
    max-width: 520px;
    height: 44px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #3a5447;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input,
select {
    width: 606px;
    height: 55px;
    background: #f9f9f9;
    border-radius: 5px;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    height: 17px;
    left: 30px;
    top: 27px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 121.69%;

    color: #b0afb0;
}
select,
option,
select option,
select option:first-child {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 121.69%;
    color: #b0afb0;
}

.create {
    margin-top: 60px;
}

.forgot,
.create {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #b0afb0;
}

.recover,
.create--link {
    margin-left: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 121.69%;
}

.recover:hover {
    cursor: pointer;
}

.btn--big {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 121.69%;
    color: #ffffff;
    height: 50px;
}

.checkbox--label {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 121.69%;
    color: #b0afb0;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

.fix {
    margin-top: -40px;
    margin-right: 15px;
}

.tc--label {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 121.69%;
    color: #3a5447;
}

@media screen and (max-width: 768px) {
    .login-text--big {
        width: 286px;
        height: 27px;
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
    }

    .login-text--small {
        width: 314px;
        height: 35px;
    }
}
